body {
    background-color: rgb(126, 201, 233);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 40px;
    text-align: left;
    background: #ffffff;
    color: #000;
    font-size: 28px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
    color: #000;
    padding: 6px 12px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #000;
    color: #fff;
}

p {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
